<form method="post" action="/post" enctype="application/x-www-form-urlencoded">

  <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
    <label for="name">Nafn*</label>
    <input type="text" name="name" id="name" value="<%= data.name %>" class="">
  </div>

  <div class="field<%= locals.isInvalid('description', errors) ?  ' field--invalid' : '' %>">
    <label for="email">Lýsing*</label>
    <input type="text" name="description" id="description" value="<%= data.description %>" class="">
  </div>


  <% if (errors.length > 0) { %>
    <h2 class="errors__title">Villur við skráningu:</h2>
    <ul class="errors">
      <% errors.forEach((error) => { %>
        <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
      <% }); %>
    </ul>
  <% } %>

  <button class="button button--large button--margin">Skrifa undir</button>
</form>

